:root {
  --nav-link-color: #000;
  --nav-link-hover-color: #5162BC;
}

a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: var(--nav-link-color);
  }

a:hover {
  text-decoration: underline var(--nav-link-hover-color);
}

.slash {
  text-align: center;
  font-size: 22;
  font-weight: bold;
}
