<div class="user-settings__main">
    <main>
        <div class="user-settings__grid">
            {{{profileInfoBlock}}}
            <div>
                {{{formUserSettings}}}
            </div>
            <div>
                <img src="cross.png" class="user-settings__back">
            </div>
        </div>
    </main>
</div>
