<div class="main">
    <main>
        <div class="grid">
            <div class="user-data__block">
                <div class="user-data-avatar__container">
                    <div class="image-avatar">
                        <img src="person.png" alt="Сменить аватар">
                    </div>
                    <div class="image-avatar__caption">
                        Сменить аватар
                    </div>
                </div>
                <div>
                    {{{labelUserName}}}
                    {{{labelEmail}}}
                </div>
                <div class="button-change__container">
                    {{{btnChangePswd}}}
                </div>
            </div>
            <div class="user-settings__container">
                {{{formUserSettings}}}
            </div>
            <div class="cross__block">
                <img src="cross.png" class="user-settings__back">
            </div>
        </div>
    </main>
</div>
