<div class="user-settings__main">
    <main>
        <div class="user-settings__grid">
            {{{btnBack}}}
            {{{profileInfoBlock}}}
            <div>
                {{{formUserSettings}}}
            </div>
            
        </div>
    </main>
</div>
