:root {
    --context-menu-bg-color: #5162BC
}

.context_menu__container {
    width: 21px;
    cursor: pointer;
}

.context_menu__line {
    height: 2.8px;
    width: 100%;
    background-color: var(--context-menu-bg-color);
    border-radius: 10px;
    margin-bottom: 2.8px;
}
