<div class="add-chat__popup">
    <div class="add-chat__input">
        {{{inputChatTitle}}}
    </div>
    <div class="add-chat-buttons__container">
        {{{confirmButton}}}
        {{{cancelButton}}}
    </div>
</div>
