<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.pcss">
</head>
<body>
    <div>
        <nav>
            <a href="./src/pages/authorization.hbs">Авторизация</a> /
            <a href="./src/pages/registration.hbs">Регистрация</a> /
            <a href="./src/pages/chat.hbs">Страница со списком чатов (заглушка) </a> /
            <a href="./src/pages/user_settings.hbs">Настройки пользователей</a> / 
            <a href="./src/pages/user_change_password.hbs">Настройки пароля</a> /
            <a href="./src/pages/404.hbs">404</a> /
            <a href="./src/pages/500.hbs">500</a>
        </nav>
    </div>
</body>

</html>