<div class="user-data__block">
    <div class="user-data-avatar__container">
        <div class="image-avatar">
            {{{Avatar}}}
<!--            <img src="person.png" alt="Сменить аватар">-->
        </div>
        <div class="image-avatar__caption">
            Сменить аватар
        </div>
    </div>
    <div>
        {{{labelName}}}
        {{{labelEmail}}}
    </div>
    <div class="button-change__container">
        {{{btnChangePswd}}}
    </div>
</div>
