:root {
    --avatar-caption-bg-color: #91a3d880;
    --avatar-caption-text-color: #fff;
  }

.user-data-avatar__container {
    border-radius: 50%;
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
}

.image-avatar {
    width: 220px;
    height: 220px;
}


.user-data__name {
    width:100%;
    display: inline-block;
    margin-top:-15px;
    font-size: 25px;
}

.user-data__email {
    position:relative;
}


.button-change__container{
    margin: 20px;
}
