.context_menu__container {
    width: 21px;
    cursor: pointer;
}

.context_menu__line {
    height: 2.8px;
    width: 100%;
    background-color: #5162BC;
    border-radius: 10px;
    margin-bottom: 2.8px;
}
