<form class={{class}}>
    <div class="input-field">
        {{#each fields}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="button__container">
        {{{button}}}
    </div>
</form>
