
<div class="main">
        <div class="auth-form__container">
                <div class="nav__container">
                        {{{navigation}}}
                </div>
                <main>
                        {{{formAuth}}}
                </main>
        </div>

</div>
