<div class="chat-profiles__wrapper">
    <hr>
    <div class="profile-avatar">
        {{{bigAvatar}}}
    </div>
    <div class="chat-profile-info">
        {{{labelChatName}}}
        {{{labelChatInfo}}}
    </div>
    <div class="chat-info-time">
        {{{labelChatTime}}}
    </div>
</div>
