<div class="delete-chat__popup">
    <div class="delete-chat__label">
        Вы уверены?
    </div>
    <div class="delete-chat-buttons__container">
        {{{btnConfirm}}}
        {{{btnCancel}}}
    </div>
</div>
