<div class="chat-profiles__wrapper {{#if isSelected}} chat--selected {{/if}}">
    <hr>
    <div class="profile-avatar">
        <div class="chat_item__avatar"></div>
    </div>
    <div class="chat-profile-info">
        {{{labelChatName}}}
        {{{labelChatInfo}}}
    </div>
    <div class="chat-info-time">
        {{{labelChatTime}}}
    </div>
</div>
