<div class="register-main">
        <div class="register-form__container">
                <div class="nav__container">
                        {{{navigation}}}
                </div>
                <main>
                        {{{formRegister}}}
                </main>
        </div>
</div>
