:root {
  --user-items-container: #d1d6e1;
}

.user-items__container {
  background-color: var(--user-items-container);
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.user-items__container label {
  cursor: pointer;
}
