---
title: Чат
inputs:
   search: "Поиск"
messages:
   text1: "Таким образом, постоянный 
          количественный рост и сфера 
          нашей активности предоставляет 
          широкие возможности для глубокомысленных 
          рассуждений. Учитывая ключевые сценарии 
          поведения, синтетическое тестирование 
          не оставляет шанса для системы массового участия. 
          А также интерактивные прототипы освещают чрезвычайно 
          интересные особенности картины в целом, однако 
          конкретные выводы, разумеется, призваны к ответу."
   text2: "Интересная информация"
---


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.pcss">
    <link rel="stylesheet" href="/src/components/avatar.pcss">
    <link rel="stylesheet" href="/src/components/input.pcss">
    <link rel="stylesheet" href="/src/components/context_menu.pcss">
    <link rel="stylesheet" href="/src/components/message.pcss">
    <title>{{title}}</title>
</head>

<body>
    <main>
        <div class="grid">
            <div class="chats-grid">
                <div class="chat-search">
                    <label class="label-profile">Профиль ></label>
                    <div class="input-search__field">
                        {{>input type="text" name="search" placeholder=inputs.search}}
                    </div>
                    <hr>
                </div>

                <div class="chats-profiles__container">
                    <div class="chat-profiles">
                        <div class="profiles-wrapper">
                            <div class="profile-avatar">
                                {{>avatar class="avatar"}}
                            </div>
                            <div class="profile-info">
                                <span class="profile-info__name">Андрей</span>
                                <span class="profile-info__message">Изображение</span>
                            </div>
                            <div class="profile-info__time">
                                10:50
                            </div>

                        </div>
                        <hr>
                        <div class="profiles-avatar">
                            {{>avatar class="avatar"}}
                            <span>Андрей</span>
                        </div>
                        <hr>
                        <div class="profiles-avatar">
                            {{>avatar class="avatar"}}
                            <span>Андрей</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="messages-grid">
                <div class="companion-info__wrapper">
                    {{>avatar class="avatar small"}}
                    <div class="profile-info__name messages">
                        <span>Любимый &#10084; </span>
                    </div>
                    {{>context_menu}}
                </div>
                <hr>
                <div class="messages-date">Сегодня</div>

                <div class="messages__container">
                        {{>message  class="left" text=messages.text1 time="10:50"}}
                        {{>message class="right" text=messages.text2}}
                </div>
                <hr>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
