---
title:
   Регистрация
navigation:
   link1: ../pages/authorization.hbs
   menu_title1: Вход
   link2: ../pages/registration.hbs
   menu_title2: Регистрация
fields: 
   email: Почта
   login: Логин
   first_name: Имя
   second_name: Фамилия
   phone: Телефон
   password: Пароль
button:
   label: Зарегистрироваться
---

<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../pages/registration.pcss">
        <link rel="stylesheet" href="../components/navigation.pcss">
        <link rel="stylesheet" href="../components/button.pcss">
        <link rel="stylesheet" href="../components/input.pcss">
        

        <meta charset="UTF-8">
        <title>{{title}}</title>
</head>
<body>
        <div class="main">
                <div class="register-form__container">
                        <div class="nav__container">
                        {{>navigation navigation}}
                        </div>
                        <form class="input-fields__container">
                                {{#each fields}}
                                <div class="input-field">
                                        {{>input type="text" name=@key placeholder=this}}
                                </div> 
                                {{/each}}
                        </form>
                        <div class="button__container">
                        {{>button label=button.label}}
                        </div>
                </div>
        </div>
</body>
</html>
