---
title: Настройки профиля
user:
  name: Алина
  email: alinamalina@gmail.com
button_change_password: Изменить пароль
button_save: Сохранить изменения
fields: 
  email: Почта
  login: Логин
  display_name: Ник
  phone: Телефон
  first_name: Имя
  second_name: Фамилия
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./user_settings.pcss">
    <link rel="stylesheet" href="../components/input.pcss">
    <link rel="stylesheet" href="../components/button.pcss">
</head>
<body>
    <div class="main">
        <div class="grid">
            <div class="user-data__block">
                <div class="user-data-avatar__container">
                    <div class="image-avatar">
                        <img src="/static/person.png" alt="Сменить аватар">
                    </div>
                    <div class="image-avatar__caption">
                        Сменить аватар
                    </div>
                </div>
                <div>
                    <span class="user-data__name">{{user.name}}</span>
                    <span class="user-data__email">{{user.email}}</span>
                </div>
                <div class="button-change__container">
                    {{>button label=button_change_password}}         
                </div>  
            </div>
            <div class="user-settings__container">
                <form class="user-settings__form">
                    {{#each fields}}
                            <div class="user-settings__field">
                                {{>input type="text" name=@key placeholder=this}}
                            </div> 
                    {{/each}}
                    <div class="button-change__container">
                        {{>button label=button_save}}
                    </div>         
                </form>
            </div>
            <div class="cross__block">
                <img src="/static/cross.png" class="user-settings__back" >
            </div>
        </div>
    </div>
</body>
</html>
