---
title: Настройки пароля
user:
  name: Алина
  email: alinamalina@gmail.com
button_change_data: Изменить данные
button_save: Сохранить изменения
fields: 
  oldPassword: Старый пароль
  newPassword: Новый пароль
  newPasswordAgain: Пароль ещё раз
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./user_change_password.pcss">
    <link rel="stylesheet" href="../components/input.pcss">
    <link rel="stylesheet" href="../components/button.pcss">
</head>
<body>
    <div class="main">
        <div class="grid">
            <div class="user-data__block">
                <div class="image-avatar">
                    <img src="/static/person.png">
                </div>
                <div>
                    <span class="user-data__name">{{user.name}}</span>
                    <span class="user-data__email">{{user.email}}</span>
                </div>
                <div class="buttons-change__container">
                    {{>button label=button_change_data class="button-change-data"}}         
                </div>  
            </div>
            <div class="user-settings__container">
                <form class="user-settings__form">
                    {{#each fields}}
                        <div class="user-settings__field">
                            {{>input type="text" name=@key placeholder=this}}
                        </div> 
                    {{/each}}
                    <div class="button-change__container">
                        {{>button label=button_save}}         
                    </div>  
                </form>
            </div>
            <div class="cross__block">
                <img src="/static/cross.png" class="user-settings__back" >
            </div>
        </div>
    </div>
</body>
</html>