<div class="add-user__popup">
    <div class="add-user__input">
        {{{inputUserLogin}}}
    </div>
    <div class="add-user-buttons__container">
        {{{btnAddUser}}}
        {{{btnCancel}}}
    </div>
    <div class="add-users-list">
        {{{userList}}}
    </div>
</div>
