:root{
    --chat-popup-color: #aebde0;
}

.add-user__popup {
  position: absolute;
  width: 400px;
  height: 300px;
  right: 471px;
  top: 93px;
  background: var(--chat-popup-color);
  border-radius: 10px;
  z-index: 10000;
  padding: 10px;
}

.add-user__input {
    width: 365px;
    padding: 10px;
    margin-top: 15px;
}

.add-user-buttons__container {
    text-align: center;
    margin-top: 10px;
}
