:root {
    --error-code-text-color: #5126BC;
}

.not-found__code {
    font-size: 100px;
    color: var(--error-code-text-color);
}

.not-found__message {
    padding-top: 90px;
    font-size: 35px;
}
