.left {
    width: 402px;
    padding: 11px;
    background-color: #F8F8F8;
    border-radius: 0 10px 10px 10px;
}

.right {
    padding: 11px;
    background-color: #E4EDFD;
    border-radius: 10px 10px 0px 10px;
    margin-left: auto
}

.time {
    color: #999999;
    font-size: 9px;
    margin-left: auto
}
