a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
  }

a:hover {
  text-decoration: underline #5162BC;
}

.slash {
  text-align: center;
  font-size: 22;
  font-weight: bold;
}