:root {
  --error-code-text-color: #5126bc;
}

.error_page__container {
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}

.error_page__code {
  font-size: 100px;
  color: var(--error-code-text-color);
}

.error_page__message {
  padding-top: 90px;
  font-size: 35px;
}
