:root {
  --chat-popup-color: #aebde0;
}

.delete-user__popup {
  text-align: center;
  position: absolute;
  width: 400px;
  height: 150px;
  right: 471px;
  top: 93px;
  background: var(--chat-popup-color);
  border-radius: 10px;
  z-index: 10000;
  padding: 10px;
  padding-top: 15px
}

.delete-users-list {
  margin-top: 25px;
}

.delete-user__popup .users-list__wrapper {
  height: 100px;
}
