<div class="main">
    <main>
        <div class="grid">
            <div class="user-data__block">
                <div class="image-avatar">
                    <img src="person.png">
                </div>
                <div>
                    {{{labelUserName}}}
                    {{{labelEmail}}}
                </div>
                <div class="buttons-change__container">
                    {{{btnChangeSettings}}}
                </div>
            </div>
            <div class="user-settings__container">
                {{{formUserChangePassword}}}
            </div>
            <div class="cross__block">
                <img src="cross.png" class="user-settings__back">
            </div>
        </div>
    </main>
</div>
