<div class="user-change_password__main">
    <main>
        <div class="user-change_password__grid">
            {{{btnBack}}}
            {{{profileInfoBlock}}}
            <div>
                {{{formUserChangePassword}}}
            </div>
        </div>
    </main>
</div>
