<div class="user-change_password__main">
    <main>
        <div class="user-change_password__grid">
            {{{profileInfoBlock}}}
            <div>
                {{{formUserChangePassword}}}
            </div>
            <div>
                <img src="cross.png" class="user-change_password__back">
            </div>
        </div>
    </main>
</div>
