:root {
    --chat-popup-color: #aebde0
}


.chat-settings__popup {
    position:absolute;
    width: 150px;
    height: 200px;
    right: 25px;
    top: 15px;
    background: var(--chat-popup-color);
    border-radius: 10px 0 10px 10px;
    z-index: 10000;
    display: flex;
}

.chat-items__list {
    position: absolute;
    display: inline;
    margin: 20px;
}
