<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <nav>
            <a href="./pages/authorization.hbs">Авторизация</a> /
            <a href="./pages/registration.hbs">Регистрация</a> /
            <a href="./pages/chat.hbs">Страница со списком чатов (заглушка) </a> /
            <a href="./pages/user_settings.hbs">Настройки пользователей</a> / 
            <a href="./pages/user_change_password.hbs">Настройки пароля</a> /
            <a href="./pages/404.hbs">404</a> /
            <a href="./pages/500.hbs">500</a>
        </nav>
    </div>
</body>
</html>
